@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

header {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 30px;
    background-color: #0d0d0d;
}

ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
}

li{
    color: red;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro';
}

li:hover{
    color: rgb(161, 3, 3);
}

nav{
    width: 60%;
}

#logo{
    width: 300px;
}